<nb-card size="medium">
  <div class="picture" style.background-image="url('assets/images/kitten-{{currentTheme}}.png')"></div>

  <div class="details">
    <div class="h4">UI Kitten</div>
    <div class="description">
      UI Kitten is a framework that contains a set of commonly used UI components styled in a similar way. The most awesome thing: you can change themes on the fly by just passing a different set of variables. 100% native. Give our kitten a try!
    </div>
  </div>

  <nb-card-footer>
    <a href="" target="_blank">
      <nb-icon icon="globe" pack="eva"></nb-icon>
    </a>
    <a href="" target="_blank">
      <em class="link-icon ion-social-apple"></em>
    </a>
    <a href="" target="_blank">
      <em class="link-icon ion-social-android"></em>
    </a>
    <a href="" target="_blank">
      <nb-icon icon="github" pack="eva"></nb-icon>
    </a>
  </nb-card-footer>
</nb-card>
