<h1 id="title" class="title" translate>user.login.forgotpassword</h1>
<p class="sub-title" translate>user.reset.description</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="requestPass()" [formGroup]="requestPasswordForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email" translate>user.reset.fillemail</label>
    <input nbInput formControlName="email" id="input-email" pattern=".+@.+\..+" placeholder="eg: hoangnv01@gmail.com"
      autofocus fullWidth fieldSize="large" [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
      [required]="getConfigValue('forms.validation.email.required')"
      [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="caption status-danger" *ngIf="email.errors?.required" translate>user.login.emailrequired</p>
      <p class="caption status-danger" *ngIf="email.errors?.pattern" translate>user.login.invalidemail</p>
    </ng-container>
  </div>

  <button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !requestPasswordForm.valid"
    [class.btn-pulse]="submitted" translate>user.reset.request</button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login" translate>user.reset.backlogin</a></p>
  <p><a routerLink="../register" class="text-link" translate>form.register</a></p>
</section>